@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #fdffff;
  --text-color: #707070;
  --accent-base-color: #5bc2dc;
  --accent-light-color: #a6e8f8;
  --accent-dark-color: #247488;
  --error-color: #d32f2f;
}
