@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #fdffff;
  --text-color: #707070;
  --accent-base-color: #5bc2dc;
  --accent-light-color: #a6e8f8;
  --accent-dark-color: #247488;
  --error-color: #d32f2f;
}

.custom-image {
  @apply h-48 w-auto object-cover object-center rounded-xl absolute left-1/2 -translate-x-1/2;
}

select {
  appearance: none; /* 標準のスタイルを解除 */
  -webkit-appearance: none; /* Safari, Chrome対応 */
  -moz-appearance: none; /* Firefox対応 */
  -ms-appearance: none; /* Edge, IE対応 */
  outline: none;
}

input {
  outline: none;
}
